*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

#firstSlide{
    /* padding-top: 50px; */
    height: 70vh;
    margin-top: 80px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.left h2{
    font-size: 58px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.left h5{
    font-size: 16px;
    margin: 40px 0;
}

.left{
    width: 50%;
    margin-top:80px ;
}
.orange-button{
    padding: 16px 40px;
    background-color:#ff6433;
    border-radius: 12px;
    color: white;
    display: inline-block;
    /* margin-top: 1px; */
    text-decoration: none;
}

.right{
    width: 50%;
}
.step{
    display: flex;
    margin-top: 50px;
}

.stepImg{
    /* margin-top: 20px; */
    margin-right: 40px;
    /* border-bottom: 2px dashed #FF6433; */
    /* border-transform: rotate(90deg); */
}

hr{
    border: 1px dashed #FF6433;
    position: absolute;
    height: 45px;
    display: inline-block;
    /* padding-bottom: 100px; */
    margin-left: 35px;
    /* margin-bottom: 500px; */
    margin-top: 90px;
}

.tex h3{
margin-top: 20px;
margin-bottom: 10px;
}

#secondSlide{
    background-color: #f2f2f2;
    height: 90vh;
    padding-top: 40px;
}


.tex1 p{
   font-size: 24px;
   text-align: center;
   /* margin-top: 60px; */
   margin-bottom: 20px;
}

.tex1 h2{
    font-size: 58px;
    text-align: center;
    margin-bottom: 40px;
 }
 .items{
     display: flex;
     justify-content: center;
     height: auto !important;
     /* width: 18%; */
 }
 .image{
    width: 18%;
    margin: 5px;
 }
 .secSlide{
     margin-top: 50px;
 }

 .pictures{
     display: flex;
 }
 .pix{
     height: auto !important;
     width: 50%;
     /* position: relative; */
 }

 .arrow{
     display: flex;
     justify-content: flex-end;
     margin-right: 155px;
     padding-top: 20px;
 }

 .arr{
     margin-left: 10px;
 } 

 .holder{
     justify-content: flex-end;
 }

 #thirdSlide{
     height: 40vh;
 }

 .pictures p{
     /* position: absolute;
     background-color: #ff6433;
     height: 315px; */
     /* margin-bottom: 100px; */
     margin-top: 100px;
 }

 .txt{
     display: block;
     justify-content: center;
     align-items: center;
     text-align: left;
     position: absolute;
     background-color: #ff6433;
     height: 315px;
     margin-left: 220px;
     padding-left: 40px;
     color: white;
     font-size: 28px;
     width: 25%;
     /* margin-bottom: 200px; */
 }

 .black-button{
    padding: 12px 32px;
    background-color:#1e1b1b;
    border-radius: 12px;
    color: white;
    display: inline-block;
    /* margin-top: 1px; */
    text-decoration: none;
    font-size: 16px;
}

.num{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
}

.brand{
    font-size: 48px;
    text-align: center;
    margin-top: 60px;
}
.logo-box{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.logo-box1{
    display: flex;
    /* margin-top: 5px; */
    justify-content: center;
    margin-bottom: 20px;
}

#forthSlide{
    height: 18vh;
    background-color: #f2f2f2;
}

#fifthSlide{
    height:55vh;
    margin-top: 66px;
}